@model StarForums.Web.ViewModels.Home.CategoryViewModel
@{ this.ViewData["Title"] = Model.Name; }
<div class="text-center">
    <h1>@Model.Name</h1>
    <h3>@Model.Description</h3>

    <a class="btn btn-primary" href="/@Model.Name/Create">Create new post</a>
    <table class="table">
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td><a href="/@Model.Name/@post.Id">@post.Title</a></td>
            </tr>
        }
    </table>
</div>