@model StarForums.Web.ViewModels.Settings.SettingsListViewModel

@{ this.ViewData["Title"] = "Settings"; }

<h1>@this.ViewData["Title"]</h1>

<div>
    <div>
        <form class="md-form">
                <div class="input-group col-4">
                    <div>
                        <img id="blah" src="#" alt="your image" />
                        <input type="file" class="d-none" id="image">
                        <label class="btn btn-sm btn-dark m-2" for="image">Choose file</label>
                        <span class="btn btn-sm btn-dark m-2">Upload</span>
                    </div>
            </div>
        </form>
    </div>
</div>
