@model StarForums.Web.ViewModels.Profile.SettingsViewModel

@{ this.ViewData["Title"] = "ChangeAvatar"; }
<div>
    <div class="text-center">
        <h3>@this.ViewData["Title"]</h3>
        <h3></h3>
        <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="ChangeAvatar">
            <div class="mt-2">
                <label for="file" class="btn btn-sm btn-dark text-light">Change profile picture</label>
                <input type="file" id="file" name="file" accept="image/png, image/jpeg">
            </div>
            <button type="submit">Upload</button>
        </form>
    </div>
</div>
