@{ this.ViewData["Title"] = "Create new post"; }
@model StarForums.Web.ViewModels.Posts.CreatePostInputModel
<div>
    <form method="post" class="text-center">
        <h4>Create a new post.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group col-4 mx-auto ">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <textarea id="text-editor" placeholder="Add comment" class="border-dark" asp-for="Content"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="CategoryId" />
        <button type="submit" class="btn btn-primary btn-dark">Create</button>
    </form>
</div>