@{ this.ViewData["Title"] = "Home Page"; }
@model StarForums.Web.ViewModels.Posts.PostViewModel

    <div>
        <table>
            <tr>
                <td>Posted by: @Model.User.UserName</td>
            </tr>
        </table>
    </div>

