@{ this.ViewData["Title"] = "Home Page"; }
@model StarForums.Web.ViewModels.Posts.PostViewModel

    <div class="text-center">
        <table>
            <tr>
                <td>Posted by: @Model.User.UserName</td>
            </tr>
        </table>
        <a href="/@Model.CategoryName/@Model.Id/AddComment">Add Comment</a>
        <a href="/@Model.CategoryName/@Model.Id/Delete">Delete</a>
        <table class="table">
            @foreach (var comment in Model.Comments)
            {
            <tr>
                <td>
                    Posted by: @comment.User.UserName
                </td>
                <td>
                    @comment.Content
                </td>
                <td>
                    @comment.CreatedOn
                </td>
            </tr>
            }
        </table>
    </div>

