<div class="mb-0 position-relative">
    <ul class="mb-0 pl-0">
        <li class="d-inline"><a asp-controller="Message" asp-action="Index" class="btn btn-sm btn-outline-dark rounded-0 border-bottom-0">Inbox</a></li>
        <li class="d-inline"><a asp-controller="Message" asp-action="Sent" class="btn btn-sm btn-outline-dark rounded-0 border-bottom-0">Sent</a></li>
        <li class="d-inline"><a asp-controller="Message" asp-action="Send" class="btn btn-sm btn-outline-dark rounded-0 border-bottom-0">Write</a></li>
    </ul>
</div>