@model StarForums.Web.ViewModels.Messages.MessageViewModel

    <div>
        <h3>@Model.Title</h3>
    </div>
    <hr />
    <div>
        <span>@Html.Raw(Model.CleanContent)</span>
            
    </div>