@using StarForums.Common
@model StarForums.Web.ViewModels.Home.CategoryListModel
@{ this.ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <table class="table">
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td><a href="@category.Name">@category.Name</a></td>
                <td>@category.Description</td>
            </tr>
        }
    </table>
</div>
