@{
}

<div class="text-center">
    <h3 class="text-danger">Access denied!</h3>
    <h4 class="text-dark">Looks like you don't have rights to access this page.</h4>
    <h5 class="text-dark">If you think this is a bug, you can report it by clicking <a href="#" class="text-warning text-decoration-none">here</a> or <a href='javascript:history.go(-1)' class="text-primary text-decoration-none text-sm-center">here</a> to go back.</h5>
</div>
