@{
    this.ViewData["Title"] = "Page not found";
}
<div class="text-center">
    <h3 class="text-dark">Page not found! If you think this error is a bug, contact our support!</h3>
    <span><a href='javascript:history.go(-1)'>Click here to go back.</a></span>
</div>